<html>

<head>
  <meta chsrset="UTF-8">
  <title>montagat el 7ag beshoy</title>
  <link rel="stylesheet" href="login.css">

<body>
  <div class="wrapper">
    <h1>Login</h1>

    <form action="dashboard.html" method="POST" id="loginForm">
      <input type="text" placeholder="Username" name="Email" id="txtemail">
      <input type="password" placeholder="password" name="password" id="txtpass">
      <div class="recover">
        <a href="#">Forgot password?</a>

      </div>
      <input type="submit" value="login" class="button_signup">
      <div class="signup_link">
        Not a member? <a href="#">Signup</a>
      </div>

    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="../assets/js/main.js"></script>



</body>
</head>

</html>